@model ProductProductOverviewVM

<div class="filterBarDiv">
    <form class="filterProductsForm" asp-controller="Product" asp-action="ProductOverview">

        <select id="sizeDropDown2" asp-for="SelectedSize"
                asp-items="Model.SizeArray"></select>

        <select id="colorDropDown2" asp-for="SelectedColor"
                asp-items="Model.ColorArray"></select>

        <select id="brandDropDown" asp-for="SelectedBrand"
                asp-items="Model.BrandArray"></select>

        <select id="priceDropDown" asp-for="SelectedPrice"
                asp-items="Model.PriceArray"></select>
        <input class="proceedToCheckOutBtn" id="filterBtn" type="submit" value="Applicera filter" />
        @*<button type="submit"><span>Rensa filter</span></button>*@
    </form>
<hr />
</div>


<div class="productOverviewDiv">
    @foreach (var item in @Model.ProdThumbnails)
    {

        <div class="productElementDiv">
            <a asp-controller="Product" asp-action="ProductItem" asp-route-id="@item.ArticleNrShort">
                <img src="~/StaticFiles/@item.ImgPath" />
                <p id="elementBrand">@item.Brand<span id="elementPrice">@item.Price kr</span></p>
                <p id="elementModel">@item.Model</p>
            </a>
        </div>

    }
</div>