@model AccountMyProfileEditVM

<div class="EditForm">

    <form id="editForm" asp-controller="Order" asp-action="CheckOut">
        <h2>Välj leveransadress</h2>
        <div class="dividedDiv">
            <label asp-for="FirstName"></label>
            <br />
            <input asp-for="FirstName" value="@Model.FirstName" />
            <br />
            <span asp-validation-for="FirstName"></span>
            <br />
            <label asp-for="LastName"></label>
            <br />
            <input asp-for="LastName" value="@Model.LastName" />
            <br />
            <span asp-validation-for="LastName"></span>
            <br />
            <label asp-for="Email"></label>
            <br />
            <input asp-for="Email" value="@Model.Email" />
            <br />
            <span asp-validation-for="Email"></span>
            <br />
            <label asp-for="PhoneNumber"></label>
            <br />
            <input asp-for="PhoneNumber" value="@Model.PhoneNumber" />
            <br />
            <span asp-validation-for="PhoneNumber"></span>
            <br />
        </div>
        <div class="dividedDiv">
            <label asp-for="AddressLine"></label>
            <br />
            <input asp-for="AddressLine" value="@Model.AddressLine" />
            <br />
            <span asp-validation-for="AddressLine"></span>
            <br />
            <label asp-for="ZipCode"></label>
            <br />
            <input asp-for="ZipCode" value="@Model.ZipCode" />
            <br />
            <span asp-validation-for="ZipCode"></span>
            <br />
            <label asp-for="City"></label>
            <br />
            <input asp-for="City" value="@Model.City" />
            <br />
            <span asp-validation-for="City"></span>
            <br />

        </div>


        <div class="delPayDiv">



            <div class="paymentMethodDiv">
                <h2>Välj betalningsalternativ</h2>
                <br />
                <div class="paymentMethodInnerDiv">

                    <input name ="payment" type="radio" value="Kort" checked="checked" />Kort <br />
                    <input name ="payment" type="radio" value="Faktura" />Faktura <br />
                    <input name ="payment" type="radio" value="Swish" />Swish <br />
                    <br />
                    <label id="cardNumberInputLabel">Kortnummer</label>
                    <br />
                    <input type="text" id="cardNumberInput" />
                    <br />
                    <label id="cardNameLabel">Kortinnehavare</label>
                    <br />
                    <input type="text" id="cardNameInput" />
                    <br />
                    <label id="cardDateLabel">MM/YY</label>
                    <input type="text" id="cardExpirationMonthInput" /> /
                    <input type="text" id="cardExpirationYearInput" />
                    <label id="cardCVCLabel">CVC</label>
                    <input type="text" id="cardCVCInput" />
                </div>
            </div>

            <div class="deliveryMethodDiv">
                <h2>Välj leveransmetod</h2>
                <br />
                <div class="checkOutRadioBtns">
                    <input name ="delivery" type="radio" value="Postnord" checked="checked" />Postnord <br />
                    <input name ="delivery" type="radio" value="Hemleverans" />Hemleverans <br />
                    <input name ="delivery" type="radio" value="Hämta i butik" />Hämta i butik <br />
                </div>
            </div>

        </div>
        <div class="chooseNextStepOptions">
            <br />
            <a asp-controller="Order" asp-action="MyCart"><button class="proceedToCheckOutBtn">Gå tillbaka</button></a>
            <input class="proceedToCheckOutBtn" type="submit" value="Gå vidare" />
        </div>
    </form>
</div>