@model OrderConfirmOrderVM

<h2>Produkter</h2>
<hr id="confirmOrderHr" />
<br />
<div class="displayingProductsDiv">

    @if (Model.ProductsToPurchase.Products != null)
    {


        @foreach (var item in Model.ProductsToPurchase.Products)
        {
            <span id="cartPictureSpan"><img src="~/StaticFiles/@item.ImgPath" /></span>
            <span id="cartProductBrand">@item.Brand</span>
            <span id="cartProductModel">@item.Model</span>
            <span id="cartProductPrice">@item.Price</span>
            <span id="cartProductColor">@item.Color</span>
            <span id="cartProductColor"><span>x</span>@item.NumberOfSameArticle</span>
            <span id="cartArticleNum">@item.ArticleNrShort</span>
            <br />
        }
    }
</div>

<h2>Kontrollera dina uppgifter</h2>
<hr id="confirmOrderHr" />
<br />
<div class="confirmOrderDiv">
    <table>
        <tr>
            <td><strong>Förnamn</strong></td>
            <td><strong>Efternamn</strong></td>
        </tr>
        <tr>
            <td>@Model.Account.FirstName</td>
            <td>@Model.Account.LastName</td>
        </tr>
        <tr class="strongTR">
            <td><strong>Adress</strong></td>
            <td><strong>Telefon</strong></td>
        </tr>
        <tr>
            <td>@Model.Account.AddressLine</td>
            <td>@Model.Account.PhoneNumber</td>
        </tr>
        <tr>
            <td>@Model.Account.ZipCode</td>
            <td></td>
        </tr>
        <tr>
            <td>@Model.Account.City</td>
            <td></td>
        </tr>
        <tr class="strongTR">
            <td><strong>Email</strong></td>
            <td></td>
        </tr>
        <tr>
            <td>@Model.Account.Email</td>
            <td></td>
        </tr>
        <tr class="strongTR">
            <td><strong>Valt betalsätt</strong></td>
            <td><strong>Vald leveransmetod</strong></td>
        </tr>
        <tr>
            <td>@Model.Account.Payment</td>
            <td>@Model.Account.Delivery</td>
        </tr>
    </table>
    <br />

    <form asp-controller="Order" asp-action="ConfirmOrder">
        <input type="hidden" asp-for="Account.FirstName" />
        <input type="hidden" asp-for="Account.LastName" />
        <input type="hidden" asp-for="Account.PhoneNumber" />
        <input type="hidden" asp-for="Account.AddressLine" />
        <input type="hidden" asp-for="Account.City" />
        <input type="hidden" asp-for="Account.ZipCode" />
        <input type="hidden" asp-for="Account.Email" />
        <input class="proceedToCheckOutBtn" id="confirmOrderBtn" type="submit" value="Bekräfta köp" />
    </form><br/>
    <a asp-controller="Order" asp-action="CheckOut"><button class="proceedToCheckOutBtn">Gå tillbaka</button></a>
</div>
