@model MyShoppingCartVM

<div class="displayingProductsDiv">

        @foreach (var item in Model.Products)
        {
            <span id="cartPictureSpan"><img src="~/StaticFiles/@item.ImgPath" /></span>
            <span id="cartProductBrand">@item.Brand</span>            
            <span id="cartProductModel">@item.Model</span>
            <span id="cartProductPrice">@item.Price</span>
            <span id="cartProductColor">@item.Color</span><br />
            <span id="cartArticleNum">@item.ArticleNrShort</span>
            <br />
        }
</div>
<a asp-controller="Order" asp-action="CheckOut" class="toCheckOutFakeBtn">Checkout</a>
