@model MyShoppingCartVM


<div class="myCartWrapper">
    <div class="displayingProductsDiv">

        @if (Model.Products != null)
        {


            @foreach (var item in Model.Products)
            {
                <span id="cartPictureSpan"><img src="~/StaticFiles/@item.ImgPath" /></span>
                <span id="cartProductBrand">@item.Brand</span>
                <span id="cartProductModel">@item.Model</span>
                <span id="cartProductColor">@item.Color, @item.Size</span>
                <span id="cartProductPrice">, @item.Price kr</span>
                <div class="cartEditButtons">
                    <span id="cartNumberOfSame">Antal: @item.NumberOfSameArticle</span>
                    <a asp-controller="Order" asp-action="EditProduct" asp-route-artNr="@item.ArticleNrShort" asp-route-size="@item.Size" asp-route-plusOrMinus="1"><button class="cartEditBtn">-</button></a>
                    <a asp-controller="Order" asp-action="EditProduct" asp-route-artNr="@item.ArticleNrShort" asp-route-size="@item.Size" asp-route-plusOrMinus="2"><button class="cartEditBtn">+</button></a>
                    <a asp-controller="Order" asp-action="RemoveProduct" asp-route-artNr="@item.ArticleNrShort" asp-route-size="@item.Size"><button class="cartEditBtn">x</button></a>
                </div><br />
                <span id="cartArticleNum">Art nr: @item.ArticleNrShort@item.Size</span>
                <br />
                <hr id="separateProdHr" />
                <br />
            }
        }

        <strong>Totalt antal varor:</strong> @Model.TotalNumberOfProducts <br />
        <strong>Summa:</strong> @Model.TotalCost kr
    </div>

        @if (Model.IsLoggedIn)
        {
                <a asp-controller="Order" asp-action="CheckOut"><button class="proceedToCheckOutBtn">Gå vidare</button></a><br/><br/>
        }
        else
        {
            <div class="proceedToCheckOutBtnsDiv">
            <a asp-controller="Account" asp-action="Register"><button class="proceedToCheckOutBtn">Bli medlem</button></a><br />
            <a asp-controller="Account" asp-action="Login"><button class="proceedToCheckOutBtn">Redan medlem? Logga in</button></a><br />
            <a asp-controller="Order" asp-action="CheckOut"><button class="proceedToCheckOutBtn">Gå vidare utan att logga in</button></a><br />
            </div>
        }

        <a asp-controller="Home" asp-action="Index"><button class="proceedToCheckOutBtn">Fortsätt handla</button></a>

</div>