@model DropdownVM

<h2>@Model.DropdownMenuTitle</h2>
<hr />
<div class="dropDownLinksDiv">

    @foreach (var item in @Model.DropDownLinks)
    {
        if (item.CategoryId == 1)
        {

        <a asp-controller="Product" asp-action="ProductOverview" asp-route-id="1" asp-route-link="@item.LinkName">@item.LinkName</a><br />
        }
        else if (item.CategoryId == 2)
        {
            <a asp-controller="Product" asp-action="ProductOverview" asp-route-id="3" asp-route-link="@item.LinkName">@item.LinkName</a><br />

        }
        else if (item.CategoryId == 3)
        {
            <a asp-controller="Product" asp-action="ProductOverview" asp-route-id="2" asp-route-link="@item.LinkName">@item.LinkName</a><br />

        }
    }

</div>