@model MyShoppingCartVM

<div class="cartDiv">
    @if (Model.TotalNumberOfProducts > 0)
    {


        @for (int i = 0; i < Model.Products.Length; i++)
        {

            @if (Model.Products[i].NumberOfSameArticle > 1 && i < 4)
            {
                <div class="mainRowCartDiv">@Model.Products[i].Brand @Model.Products[i].Model <span>x</span><span>@Model.Products[i].NumberOfSameArticle</span> <div class="prodPriceInCartDiv">@Model.Products[i].Price kr</div></div>
                <p class="subRowCartPara">@Model.Products[i].Color, @Model.Products[i].Size</p>


            }
            else if (i < 4)
            {
                <div class="mainRowCartDiv">@Model.Products[i].Brand @Model.Products[i].Model <div class="prodPriceInCartDiv">@Model.Products[i].Price kr</div></div>

            <p class="subRowCartPara">@Model.Products[i].Color, @Model.Products[i].Size</p>
            }

        }



        <hr id="cartDividerHR" />

        <div class="bottomOfCartDiv">

            <div class="totalsCartDiv">
                <p><strong>Antal produkter:</strong> @Model.TotalNumberOfProducts</p>
                <p><strong>Totalt:</strong> @Model.TotalCost kr</p>
            </div>

            <a asp-controller="Order" asp-action="MyCart">Gå till varukorg</a>

        </div>
    }
    else
    {
        <p>Din varukorg är tom</p>

    }

</div>