@model MyShoppingCartVM

<div class="cartDiv">
    @if (Model.TotalNumberOfProducts > 0)
    {

        @foreach (var item in Model.Products)
        {
            @if (item.NumberOfSameArticle > 1)
            {
                <div class="mainRowCartDiv">@item.Brand @item.Model <span>x</span><span>@item.NumberOfSameArticle</span> <div class="prodPriceInCartDiv">@item.Price kr</div></div>


            }
            else
            {
                <div class="mainRowCartDiv">@item.Brand @item.Model <div class="prodPriceInCartDiv">@item.Price kr</div></div>

            }

            <p class="subRowCartPara">@item.Color, @item.Size</p>

        }

        <hr id="cartDividerHR" />

        <div class="bottomOfCartDiv">

            <div class="totalsCartDiv">
                <p><strong>Antal produkter:</strong> @Model.TotalNumberOfProducts</p>
                <p><strong>Totalt:</strong> @Model.TotalCost kr</p>
            </div>

            <a asp-controller="Order" asp-action="MyCart">Gå till varukorg</a>

        </div>
    }
    else
    {
        <p>Din varukorg är tom</p>

    }

</div>